# Update often the projects requirements. Please run the following command with .venv activated
# $ source .venv/bin/activate
# $ pip3 freeze > requirements/requirements.txt
# or alternatively
# make update-requirements
python-dotenv
streamlit
torch==2.1.0
torchvision
diffusers @ git+https://github.com/huggingface/diffusers.git
transformers 
accelerate 
scipy 
safetensors
streamlit
peft
streamlit-drawable-canvas
matplotlib
scipy
opencv-python