# Update often the projects requirements. Please run the following command with .venv activated
# $ source .venv/bin/activate
# $ pip3 freeze > requirements/requirements.txt
# or alternatively
# make update-requirements
numpy
# Python-dotenv reads key-value pairs from a .env file and can set them as environment variables.
# It helps in the development of applications following the 12-factor (https://12factor.net/) principles.
python-dotenv
diffusers @ git+https://github.com/huggingface/diffusers.git
transformers 
accelerate 
scipy 
safetensors
streamlit
peft
streamlit-drawable-canvas
matplotlib
scipy
opencv-python